<header class="header">
  <div class="brand">Apartamento en Melgar</div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <section class="footer__copy">
    Apartamento en Melgar &copy; 2020
  </section>
  <section class="footer__social-links">
    <ul>
      <li>
        <a target="_blank" href="#" title="Facebook" rel="noopener noreferrer">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
      </li>
      <li>
        <a target="_blank" href="#" title="WhatsApp" rel="noopener noreferrer">
          <fa-icon [icon]="faWhatsapp"></fa-icon>
        </a>
      </li>
      <li>
        <a target="_blank" href="#" title="Airbnb" rel="noopener noreferrer">
          <fa-icon [icon]="faAirbnb"></fa-icon>
        </a>
      </li>
    </ul>
  </section>
</footer>
